.footer {
    padding: 70px 0;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}