.news {
    padding-top: 200px;
}

.news__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

.news__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.news__description {
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}